nav {
    margin: .5em 0 1em 0;
    text-align: center;
    width: 100%;
}

nav li{
    display: inline-block;
    color: #000;
    padding: .5em 1em;
    border-radius: .5em;
    background: white;
}
body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: grey;
}

.header {
    background: sandybrown;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    border-radius: .5em;
}

.page-wrapper {
    max-width: 45em;
    margin: auto;   
}

.content {
    background: white;
    padding: 2em 1em 2em;
    border-radius: 0.5em;
    margin: 2em 0 2em;
}

nav ol {
    margin: 0;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: #000;
}

nav li:hover {
    background-color: rgb(226, 226, 226);
}