body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: gray;
}

nav li {
    display: inline-block;
    padding: .7em 1em .5em;
    background: white;
    border-radius: .5em;
    margin: .2em;
}

.header {
    background: sandybrown;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .5em;
}

form {
    float: right;
    padding: .5em;
    background: blanchedalmond;
    border-radius: .5em;
    max-width: 15em;
    display  : grid;
    grid-template-columns: 5em 10em;
    grid-row-gap: .3em;
    margin-bottom: 2em;
    margin-left: 2em;
    
}

form label, input{
    margin: auto 0;
}

form #button {
    grid-column-start: 2;
    padding:5px;
    border: none;
    text-align: center;
    width: 5em;
    margin: auto 0 auto 5.5em;
    background: tan;
}

form #button:hover{
    background: rgb(138, 119, 94);
    color: white;
}


nav ul {
    padding: 0;
    margin: .5em;
    text-align: center;
}

h2 {
    margin-top: 0;
}

.content {
   background: white;
   padding: 1.5em 2em;
   border-radius: .5em
}

nav li a {
    text-decoration: none;
    color: #000;
}

nav li:hover {
    background-color: rgb(226, 226, 226);
}

